{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "plugins": [
    [
      "transform-react-remove-prop-types",
      "transform-runtime",
      "transform-decorators-legacy",
      {"mode": "wrap"}
    ]
  ],
  "env": {
    "start": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
